# test brid dm geometric attributes
citygml_zip_name = "08220_tsukuba-shi_city_2023_citygml_2_op_brid.zip"

[expected_outputs]
brid_dm_geometric_attributes = "08220_tsukuba-shi_city_2024_citygml_2_op_brid_dm_geometric_attributes.zip"

[tests.mvt_lines]
zoom = [12, 16]
threshold = 0.01

[tests.mvt_polygons]
zoom = [12, 16]
threshold = 0.01

[tests.mvt_attributes.casts]
".attributes" = "json"
".dm_attributes" = "json"

[tests.cesium_attributes.casts]
".attributes" = "json"
".dm_attributes" = "json"

[tests.cesium_statistics]

[filter.tree]
"" = ["codelists/", "schemas/"]
"udx/brid/" = ["54400098_brid_6697_op.gml", "54400098_brid_6697_appearance"]
