# test brid dm geometric attributes
citygml_zip_name = "08220_tsukuba-shi_city_2023_citygml_2_op_brid.zip"

[tests.cesium_attributes.casts]
".attributes" = "json"
".attributes.meshcode" = "string"
".dm_attributes" = "json"

[tests.cesium_statistics]
# FIXME: there is a nondeterministic bug causing texture presence test to fail, likely inside atlas packing
skip_texture_presence_test = true

[tests.mvt_lines]
zoom = [12, 16]
threshold = 0.01

[tests.mvt_polygons]
zoom = [12, 16]
threshold = 0.01

[tests.mvt_attributes.casts]
".attributes" = "json"
".attributes.meshcode" = "string"
".dm_attributes" = "json"

[tests.json_attributes.tilesets_lod1]
path = "08220_tsukuba-shi_city_2023_citygml_2_op_brid_3dtiles_lod1/tileset.json"
extracted = true

[tests.json_attributes.tilesets_lod1.casts]
".geometricError" = "ignore_both"
".root" = "ignore_both"

[tests.json_attributes.tilesets_lod2]
path = "08220_tsukuba-shi_city_2023_citygml_2_op_brid_3dtiles_lod2/tileset.json"
extracted = true

[tests.json_attributes.tilesets_lod2.casts]
".geometricError" = "ignore_both"
".root" = "ignore_both"

[tests.json_attributes.tilesets_lod3]
path = "08220_tsukuba-shi_city_2023_citygml_2_op_brid_3dtiles_lod3/tileset.json"
extracted = true

[tests.json_attributes.tilesets_lod3.casts]
".geometricError" = "ignore_both"
".root" = "ignore_both"

[filter.tree]
"udx/brid/" = ["54400098_brid_6697_op.gml", "54400098_brid_6697_appearance"]
