[package]
description = "Re:Earth Flow storage library"
name = "reearth-flow-storage"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
bytes.workspace = true
futures.workspace = true
object_store.workspace = true
opendal.workspace = true
parking_lot.workspace = true
reearth-flow-common.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true

[dev-dependencies]
wiremock = "0.6"
