runtime/examples/fixture/**/* linguist-vendored
tests/fixture/**/* linguist-vendored
tools/cesium/**/* linguist-vendored
tools/mvt/**/* linguist-vendored
tools/czml/**/* linguist-vendored
plateau-gis-quality-checker/src-tauri/embed/**/* linguist-vendored
worker/workflow/**/* linguist-vendored
