networks:
  reearth-flow-net:
    external: true
services:
  gcs:
    image: fsouza/fake-gcs-server
    ports:
      - 4443:4443
    volumes:
      - ./tmp/gcs/data:/data/reearth-flow-oss-bucket # :/data/{bucket-name}
    command: --scheme http # Allow http
    networks:
      - reearth-flow-net
  pubsub:
    build:
      context: .
      dockerfile: ./containers/pubsub/Dockerfile
    restart: always
    environment:
      - PROJECT_ID=local-project
      - TOPIC_IDS=flow-edge-pass-through-topic,flow-log-stream-topic,flow-job-complete-topic,flow-node-status-topic,flow-job-status-topic # Corresponding pull-type subscriptions({TOPIC}-sub) will be created automatically
    ports:
      - 8085:8085
    networks:
      - reearth-flow-net
