services:
  gcs:
    image: fsouza/fake-gcs-server
    ports:
      - 4443:4443
    volumes:
      - ./tmp/gcs/data:/data # :/data/{bucket-name}
    command: --scheme http # Allow http
  pubsub:
    build:
      context: .
      dockerfile: ./containers/pubsub/Dockerfile
    restart: always
    environment:
      - PROJECT_ID=local-project
      - TOPIC_IDS=flow-edge-pass-through-topic,flow-log-stream-topic # Corresponding pull-type subscriptions({TOPIC}-sub) will be created automatically
    extra_hosts: # For other docker-compose services
      - ${DOCKER_HOST_INTERNAL:-host.docker.internal}:${DOCKER_HOST_GATEWAY:-host-gateway}
    ports:
      - 8085:8085
