@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
}

@layer base {
  /* TODO: Fix light mode colors and enable light mode */
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(39, 39, 42);

    --card: rgb(255, 255, 255);
    --card-foreground: rgb(39, 39, 42);

    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(39, 39, 42);

    --primary: rgb(24, 24, 27);
    --primary-foreground: rgb(250, 250, 250);

    --secondary: rgb(244, 244, 245);
    --secondary-foreground: rgb(24, 24, 27);

    --muted: rgb(244, 244, 245);
    --muted-foreground: 240 3.8% 46.1%;

    --accent: rgb(244, 244, 245);
    --accent-foreground: rgb(24, 24, 27);

    --destructive: rgb(239, 68, 68);
    --destructive-foreground: rgb(250, 250, 250);

    --border: rgb(228, 228, 231);
    --input: rgb(228, 228, 231);
    --ring: rgb(24, 24, 27);
    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(39, 39, 42);
    --foreground: rgb(250, 250, 250);

    --card: rgb(39, 39, 42);
    --card-foreground: rgb(250, 250, 250);

    --popover: rgb(49, 49, 53);
    --popover-foreground: rgb(250, 250, 250);

    --primary: rgb(51, 51, 56);
    --primary-foreground: rgb(126, 126, 129);

    --secondary: rgb(31, 31, 34);
    --secondary-foreground: rgb(250, 250, 250);

    --muted: rgb(26, 26, 26);
    --muted-foreground: rgb(161, 161, 170);

    --accent: rgb(63, 63, 70);
    --accent-foreground: rgb(212, 212, 216);

    --destructive: rgb(239, 67, 67);
    --destructive-foreground: rgb(250, 250, 250);

    --border: rgb(63, 63, 70);
    --input: rgb(26, 26, 26);
    --ring: rgb(2, 8, 23);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Animation for active node */
@keyframes cycleColors {
  0% {
    @apply bg-background /* bg-background-700 */;
  }
  50% {
    @apply bg-foreground /* bg-white */;
  }
  100% {
    @apply bg-background /* bg-background-700 */;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.active-node-status {
  animation:
    cycleColors 3s infinite,
    pulse 1.5s infinite;
}
/* Animation for active node END */
