@import "tailwindcss";

@config '../tailwind.config.ts';

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  :root {
    font-family: Inter, "Noto Sans JP", sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }
}

@layer base {
  /* TODO: Fix light mode colors and enable light mode */
  :root {
    --background: oklch(100% 0 0); /* white */
    --foreground: oklch(26% 0 0); /* near black */
    --card: oklch(96.5% 0.005 240); /* light blue-gray */
    --card-foreground: oklch(26% 0 0);
    --popover: oklch(98.5% 0 0); /* very light gray */
    --popover-foreground: oklch(30% 0 0);
    --primary: oklch(95% 0 0); /* light gray */
    --primary-foreground: oklch(32% 0 0);
    --secondary: oklch(96.5% 0.005 240);
    --secondary-foreground: oklch(23% 0 0);
    --muted: oklch(68% 0.005 270); /* medium gray */
    --muted-foreground: oklch(18% 0 0);
    --accent: oklch(85% 0.005 270); /* light gray-blue */
    --accent-foreground: oklch(38% 0.005 270);
    --destructive: oklch(62% 0.22 25); /* red */
    --destructive-foreground: oklch(98.5% 0 0);
    --warning: oklch(75% 0.15 65); /* orange */
    --warning-foreground: oklch(98.5% 0 0);
    --border: oklch(82% 0 0); /* medium-light gray */
    --border-secondary: oklch(72% 0 0);
    --input: oklch(90% 0.005 270);
    --ring: oklch(16% 0.01 270);
    --radius: 0.5rem;
    /* Custom Flow colors */
    --logo: oklch(62% 0.19 155); /* green */
    /* Workflow colors */
    --node-entrance: oklch(45% 0.24 320); /* purple */
    --node-exit: oklch(43% 0.24 290); /* violet */
    --node-reader: oklch(35% 0.08 230); /* teal */
    --node-transformer: oklch(32% 0.13 15); /* burgundy */
    --node-writer: oklch(40.956% 0.05666 85.875); /* dark olive/brown */
    --node-subworkflow: oklch(40% 0.19 310); /* purple */
    /* Selected Node colors */
    --node-reader-selected: oklch(40% 0.09 230);
    --node-transformer-selected: oklch(37% 0.14 15);
    --node-writer-selected: oklch(50% 0.07 85.875); 
    --node-subworkflow-selected: oklch(45% 0.24 320);
    /* success green */
    --success: oklch(72% 0.18 145);
    --canvas-background: oklch(95.5% 0 0);
  }
  .dark {
    --background: oklch(26% 0 0); /* dark gray */
    --foreground: oklch(98.5% 0 0); /* near white */
    --card: oklch(23% 0 0); /* darker gray */
    --card-foreground: oklch(98.5% 0 0);
    --popover: oklch(29% 0.005 270);
    --popover-foreground: oklch(98.5% 0 0);
    --primary: oklch(32% 0.005 270);
    --primary-foreground: oklch(55% 0.005 270);
    --secondary: oklch(23% 0 0);
    --secondary-foreground: oklch(98.5% 0 0);
    --muted: oklch(18% 0 0);
    --muted-foreground: oklch(68% 0.005 270);
    --accent: oklch(38% 0.005 270);
    --accent-foreground: oklch(85% 0.005 270);
    --destructive: oklch(62% 0.22 25); /* red */
    --destructive-foreground: oklch(98.5% 0 0);
    --border: oklch(38% 0.005 270);
    --input: oklch(18% 0 0);
    --ring: oklch(12% 0.02 270);
  }
}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  * {
    @apply no-scrollbar;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Animation for active node - shadow */
@keyframes cycleActiveColorsShadow {
  0% {
    box-shadow: 0 0 5px 2px var(--primary);
  }
  25% {
    box-shadow: 0 0 5px 2px var(--success);
  }
  50% {
    box-shadow: 0 0 5px 2px var(--warning);
  }
  75% {
    box-shadow: 0 0 5px 2px var(--destructive);
  }
  100% {
    box-shadow: 0 0 5px 2px var(--primary);
  }
}

/* Animation for active node */
@keyframes cycleActiveColors {
  0% {
    background-color: theme("colors.primary.DEFAULT");
  }
  25% {
    background-color: theme("colors.success");
  }
  50% {
    background-color: theme("colors.warning.DEFAULT");
  }
  75% {
    background-color: theme("colors.destructive.DEFAULT");
  }
  100% {
    background-color: theme("colors.primary.DEFAULT");
  }
}

/* Animation for active node - border */
@keyframes cycleActiveColorsBorder {
  0% {
    border-color: var(--primary);
  }
  25% {
    border-color: var(--success);
  }
  50% {
    border-color: var(--warning);
  }
  75% {
    border-color: var(--destructive);
  }
  100% {
    border-color: var(--primary);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}

.active-node-status {
  animation: cycleActiveColors 3s infinite linear;
  /* pulse 1.5s infinite; */
}

.active-node-status-shadow {
  animation: cycleActiveColorsShadow 3s infinite linear;
  /* pulse 1.5s infinite; */
}

.active-node-status-border {
  animation: cycleActiveColorsBorder 3s infinite linear;
  /* pulse 1.5s infinite; */
}

/* Allows for react flow logo to displayed without style conflicts */
.react-flow__attribution {
  background: none !important;
}

/* Animation for queued node - shadow */
@keyframes cycleColorsShadow {
  0% {
    box-shadow: 0 0 5px 2px var(--foreground);
  }
  50% {
    box-shadow: 0 0 5px 2px var(--primary);
  }
  100% {
    box-shadow: 0 0 5px 2px var(--foreground);
  }
}

/* Animation for queued node - background */
@keyframes cycleColors {
  0% {
    background-color: var(--foreground);
  }
  50% {
    background-color: var(--primary);
  }
  100% {
    background-color: var(--foreground);
  }
}

/* Animation for queued node - border */
@keyframes cycleColorsBorder {
  0% {
    border-color: var(--foreground);
  }
  50% {
    border-color: var(--primary);
  }
  100% {
    border-color: var(--foreground);
  }
}

.queued-node-status {
  animation:
    cycleColors 3s infinite,
    pulse 1.5s infinite;
}

.queued-node-status-shadow {
  animation: cycleColorsShadow 3s infinite linear;
}

.queued-node-status-border {
  animation: cycleColorsBorder 3s infinite linear;
}

/* Animation for queued node END */

/* We need to set the z-index to -1 so that the nodes are rendered behind the edges */
.react-flow__node-batch {
  z-index: -1 !important;
}

.react-flow__node-note {
  z-index: -1 !important;
}

#cesiumContainer {
  clip-path: inset(0 round calc(var(--radius) /* 0.25rem = 4px */ - 2px));
}
