@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/


@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  :root {
    font-family: Inter, 'Noto Sans JP', sans-serif;
    font-feature-settings:
      'liga' 1,
      'calt' 1; /* fix for Chrome */
  }
}

@layer base {
  /* TODO: Fix light mode colors and enable light mode */
  :root {
    --background: 229, 228, 228;
    --foreground: 39, 39, 42;
    --card: 250, 250, 250;
    --card-foreground: 39, 39, 42;
    --popover: 250, 250, 250;
    --popover-foreground: 49, 49, 42;
    --primary: 207, 207, 207;
    --primary-foreground: 51, 51, 56;
    --secondary: 216, 216, 217;
    --secondary-foreground: 31, 31, 34;
    --muted: 161, 161, 170;
    --muted-foreground: 26, 26, 26;
    --accent: 212, 212, 216;
    --accent-foreground: 63, 63, 70;
    --destructive: 239, 68, 68;
    --destructive-foreground: 250, 250, 250;
    --warning: 255, 159, 67;
    --warning-foreground: 250, 250, 250;
    --border: 202, 202, 202;
    --border-secondary: 175, 174, 174;
    --input: 228, 228, 231;
    --ring: 24, 24, 27;
    --radius: 0.5rem;
    /* Custom Flow colors */
    --logo: 0, 163, 64;
    /* Workflow colors */
    --node-entrance: 162, 28, 175;
    --node-exit: 126, 34, 206;
    --node-reader: 22, 78, 99;
    --node-transformer: 99, 22, 40;
    --node-writer: 72, 62, 28;
    --node-subworkflow: 111, 32, 119;
    /* Selected Node colors */
    --node-reader-selected: 25, 94, 117;
    --node-transformer-selected: 117, 34, 54;
    --node-writer-selected: 102, 84, 32;
    --node-subworkflow-selected: 162, 28, 175;
    /* success green */
    --success: 34, 197, 94;
  }
  .dark {
    --background: 39, 39, 42;
    --foreground: 250, 250, 250;
    --card: 39, 39, 42;
    --card-foreground: 250, 250, 250;
    --popover: 49, 49, 53;
    --popover-foreground: 250, 250, 250;
    --primary: 51, 51, 56;
    --primary-foreground: 126, 126, 129;
    --secondary: 31, 31, 34;
    --secondary-foreground: 250, 250, 250;
    --muted: 26, 26, 26;
    --muted-foreground: 161, 161, 170;
    --accent: 63, 63, 70;
    --accent-foreground: 212, 212, 216;
    --destructive: 239, 67, 67;
    --destructive-foreground: 250, 250, 250;
    --border: 63, 63, 70;
    --input: 26, 26, 26;
    --ring: 2, 8, 23;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: #3f3f3f;
  }
}

@layer base {
  * {
    @apply no-scrollbar;
  }


  body {
    @apply bg-background text-foreground;
  }
}


/* Animation for active node */
@keyframes cycleActiveColors {
  0% {
    background-color: theme('colors.primary.DEFAULT');
  }
  25% {
    background-color: theme('colors.success.DEFAULT');
  }
  50% {
    background-color: theme('colors.warning.DEFAULT');
  }
  75% {
    background-color: theme('colors.destructive.DEFAULT');
  }
  100% {
    background-color: theme('colors.primary.DEFAULT');
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.active-node-status {
  animation:
    cycleActiveColors 3s infinite,
    pulse 1.5s infinite;
}

/* Animation for queued node */
@keyframes cycleColors {
  0% {
    background-color: theme('colors.primary.DEFAULT');
  }
  50% {
    background-color: theme('colors.foreground');
  }
  100% {
    background-color: theme('colors.primary.DEFAULT');
  }
}


.queued-node-status {
  animation:
    cycleColors 3s infinite,
    pulse 1.5s infinite;
}

/* Animation for queued node END */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
