@import "tailwindcss";

@config '../tailwind.config.ts';

@utility no-scrollbar {
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  :root {
    font-family: Inter, "Noto Sans JP", sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }
}

@layer base {
  /* TODO: Fix light mode colors and enable light mode */
  :root {
    --background: 255, 255, 255;
    --foreground: 39, 39, 42;
    --card: 244, 247, 250;
    --card-foreground: 39, 39, 42;
    --popover: 250, 250, 250;
    --popover-foreground: 49, 49, 42;
    /* --primary: 244, 247, 250; */
    --primary: 242, 242, 242;
    --primary-foreground: 51, 51, 56;
    --secondary: 244, 247, 250;
    /* --secondary: 244, 247, 250; */
    --secondary-foreground: 31, 31, 34;
    --muted: 161, 161, 170;
    --muted-foreground: 26, 26, 26;
    --accent: 212, 212, 216;
    --accent-foreground: 63, 63, 70;
    --destructive: 239, 68, 68;
    --destructive-foreground: 250, 250, 250;
    --warning: 255, 159, 67;
    --warning-foreground: 250, 250, 250;
    --border: 202, 202, 202;
    --border-secondary: 175, 174, 174;
    --input: 228, 228, 231;
    --ring: 24, 24, 27;
    --radius: 0.5rem;
    /* Custom Flow colors */
    --logo: 0, 163, 64;
    /* Workflow colors */
    --node-entrance: 162, 28, 175;
    --node-exit: 126, 34, 206;
    --node-reader: 22, 78, 99;
    --node-transformer: 99, 22, 40;
    --node-writer: 72, 62, 28;
    --node-subworkflow: 111, 32, 119;
    /* Selected Node colors */
    --node-reader-selected: 25, 94, 117;
    --node-transformer-selected: 117, 34, 54;
    --node-writer-selected: 102, 84, 32;
    --node-subworkflow-selected: 162, 28, 175;
    /* success green */
    --success: 34, 197, 94;
    --canvas-background: 243, 238, 242;
  }
  .dark {
    --background: 39, 39, 42;
    --foreground: 250, 250, 250;
    --card: 31, 31, 34;
    /* --card: 39, 39, 42; */
    --card-foreground: 250, 250, 250;
    --popover: 49, 49, 53;
    --popover-foreground: 250, 250, 250;
    --primary: 51, 51, 56;
    --primary-foreground: 126, 126, 129;
    --secondary: 31, 31, 34;
    --secondary-foreground: 250, 250, 250;
    --muted: 26, 26, 26;
    --muted-foreground: 161, 161, 170;
    --accent: 63, 63, 70;
    --accent-foreground: 212, 212, 216;
    --destructive: 239, 67, 67;
    --destructive-foreground: 250, 250, 250;
    --border: 63, 63, 70;
    --input: 26, 26, 26;
    --ring: 2, 8, 23;
  }
}
/* Note: following two @layer is need to ensure code reflects previous styles from Tailwind 3 */
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: rgb(var(--border));
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply no-scrollbar;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Animation for active node - shadow */
@keyframes cycleActiveColorsShadow {
  0% {
    box-shadow: 0 0 5px 2px rgba(var(--primary), 1); /* All sides */
  }
  25% {
    box-shadow: 0 0 5px 2px rgba(var(--success), 1); /* All sides */
  }
  50% {
    box-shadow: 0 0 5px 2px rgba(var(--warning), 1); /* All sides */
  }
  75% {
    box-shadow: 0 0 5px 2px rgba(var(--destructive), 1); /* All sides */
  }
  100% {
    box-shadow: 0 0 5px 2px rgba(var(--primary), 1); /* All sides */
  }
}

/* Animation for active node */
@keyframes cycleActiveColors {
  0% {
    background-color: theme("colors.primary.DEFAULT");
  }
  25% {
    background-color: theme("colors.success");
  }
  50% {
    background-color: theme("colors.warning.DEFAULT");
  }
  75% {
    background-color: theme("colors.destructive.DEFAULT");
  }
  100% {
    background-color: theme("colors.primary.DEFAULT");
  }
}

/* Animation for active node - border */
@keyframes cycleActiveColorsBorder {
  0% {
    border-color: rgba(var(--primary));
  }
  25% {
    border-color: rgba(var(--success));
  }
  50% {
    border-color: rgba(var(--warning));
  }
  75% {
    border-color: rgba(var(--destructive));
  }
  100% {
    border-color: rgba(var(--primary));
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}

.active-node-status {
  animation: cycleActiveColors 3s infinite linear;
  /* pulse 1.5s infinite; */
}

.active-node-status-shadow {
  animation: cycleActiveColorsShadow 3s infinite linear;
  /* pulse 1.5s infinite; */
}

.active-node-status-border {
  animation: cycleActiveColorsBorder 3s infinite linear;
  /* pulse 1.5s infinite; */
}

/* Allows for react flow logo to displayed without style conflicts */
.react-flow__attribution {
  background: none !important;
}

/* Animation for queued node - shadow */
@keyframes cycleColorsShadow {
  0% {
    box-shadow: 0 0 5px 2px rgba(var(--foreground), 1); /* All sides */
  }
  50% {
    box-shadow: 0 0 5px 2px rgba(var(--primary), 1); /* All sides */
  }
  100% {
    box-shadow: 0 0 5px 2px rgba(var(--foreground), 1); /* All sides */
  }
}

/* Animation for queued node - background */
@keyframes cycleColors {
  0% {
    background-color: rgba(var(--foreground));
  }
  50% {
    background-color: rgba(var(--primary));
  }
  100% {
    background-color: rgba(var(--foreground));
  }
}

/* Animation for queued node - border */
@keyframes cycleColorsBorder {
  0% {
    border-color: rgba(var(--foreground));
  }
  50% {
    border-color: rgba(var(--primary));
  }
  100% {
    border-color: rgba(var(--foreground));
  }
}

.queued-node-status {
  animation:
    cycleColors 3s infinite,
    pulse 1.5s infinite;
}

.queued-node-status-shadow {
  animation: cycleColorsShadow 3s infinite linear;
}

.queued-node-status-border {
  animation: cycleColorsBorder 3s infinite linear;
}

/* Animation for queued node END */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* We need to set the z-index to -1 so that the nodes are rendered behind the edges */
.react-flow__node-batch {
  z-index: -1 !important;
}

.react-flow__node-note {
  z-index: -1 !important;
}

#cesiumContainer {
  clip-path: inset(0 round calc(var(--radius) /* 0.25rem = 4px */ - 2px));
}
