networks:
  reearth-flow-net:
    external: true

services:
  redis:
    image: redis:7
    container_name: subscriber-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - reearth-flow-net

  log-subscriber:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: log-subscriber
    restart: always
    depends_on:
      - redis
    networks:
      - reearth-flow-net
    environment:
      - PUBSUB_EMULATOR_HOST=${PUBSUB_EMULATOR_HOST}
      - REEARTH_FLOW_SUBSCRIBER_GOOGLE_CLOUD_PROJECT=${REEARTH_FLOW_SUBSCRIBER_GOOGLE_CLOUD_PROJECT}
      - REEARTH_FLOW_SUBSCRIBER_LOG_SUBSCRIPTION_ID=${REEARTH_FLOW_SUBSCRIBER_LOG_SUBSCRIPTION_ID}
      - REEARTH_FLOW_SUBSCRIBER_WORKER_STDOUT_LOG_SUBSCRIPTION_ID=${REEARTH_FLOW_SUBSCRIBER_WORKER_STDOUT_LOG_SUBSCRIPTION_ID}
      - REEARTH_FLOW_SUBSCRIBER_PORT=${REEARTH_FLOW_SUBSCRIBER_PORT}
      - REEARTH_FLOW_SUBSCRIBER_REDIS_URL=${REEARTH_FLOW_SUBSCRIBER_REDIS_URL}
