networks:
  reearth-flow-net:
    external: true

services:
  redis:
    image: redis:7
    container_name: subscriber-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - reearth-flow-net

  jaeger:
    image: jaegertracing/all-in-one:1.53
    container_name: subscriber-jaeger
    restart: always
    ports:
      - "16686:16686"  # Jaeger UI
      - "4317:4317"    # OTLP gRPC
      - "4318:4318"    # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - reearth-flow-net

  log-subscriber:
    build:
      context: ../..
      dockerfile: ./server/subscriber/Dockerfile
    container_name: log-subscriber
    restart: always
    depends_on:
      - redis
      - jaeger
    networks:
      - reearth-flow-net
    environment:
      - PUBSUB_EMULATOR_HOST=${PUBSUB_EMULATOR_HOST}
      - REEARTH_FLOW_SUBSCRIBER_GOOGLE_CLOUD_PROJECT=${REEARTH_FLOW_SUBSCRIBER_GOOGLE_CLOUD_PROJECT}
      - REEARTH_FLOW_SUBSCRIBER_LOG_SUBSCRIPTION_ID=${REEARTH_FLOW_SUBSCRIBER_LOG_SUBSCRIPTION_ID}
      - REEARTH_FLOW_SUBSCRIBER_NODE_STATUS_SUBSCRIPTION_ID=${REEARTH_FLOW_SUBSCRIBER_NODE_STATUS_SUBSCRIPTION_ID}
      - REEARTH_FLOW_SUBSCRIBER_USER_FACING_LOG_SUBSCRIPTION_ID=${REEARTH_FLOW_SUBSCRIBER_USER_FACING_LOG_SUBSCRIPTION_ID}
      - REEARTH_FLOW_SUBSCRIBER_JOB_COMPLETE_SUBSCRIPTION_ID=${REEARTH_FLOW_SUBSCRIBER_JOB_COMPLETE_SUBSCRIPTION_ID}
      - REEARTH_FLOW_SUBSCRIBER_PORT=${REEARTH_FLOW_SUBSCRIBER_PORT}
      - REEARTH_FLOW_SUBSCRIBER_REDIS_URL=${REEARTH_FLOW_SUBSCRIBER_REDIS_URL}
      - REEARTH_FLOW_SUBSCRIBER_DB=${REEARTH_FLOW_SUBSCRIBER_DB}
      - REEARTH_FLOW_SUBSCRIBER_OTEL_ENABLED=${REEARTH_FLOW_SUBSCRIBER_OTEL_ENABLED:-false}
      - REEARTH_FLOW_SUBSCRIBER_OTEL_EXPORTER_OTLP_ENDPOINT=${REEARTH_FLOW_SUBSCRIBER_OTEL_EXPORTER_OTLP_ENDPOINT:-jaeger:4317}
      - REEARTH_FLOW_SUBSCRIBER_OTEL_EXPORTER_OTLP_INSECURE=${REEARTH_FLOW_SUBSCRIBER_OTEL_EXPORTER_OTLP_INSECURE:-true}
