[package]
name = "websocket"
version = "0.1.0"
edition = "2021"
description = "Yrs synchronization protocol using Warp web sockets"
license = "MIT"
authors = ["Bartosz Sypytkowski <b.sypytkowski@gmail.com>"]
keywords = ["crdt", "yrs", "warp"]
homepage = "https://github.com/y-crdt/yrs-warp/"
repository = "https://github.com/y-crdt/yrs-warp/"
readme = "./README.md"

[lib]
name = "websocket"
crate-type = ["cdylib", "rlib"]

[features]
default = ["auth"]
auth = []

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
yrs = { version = "0.22.0", features = ["sync"] }
axum = { version = "0.8.1", features = ["ws"] }
tower-http = { version = "0.6.2", features = ["fs"] }
futures-util = "0.3"
tokio = { version = "1.44", features = ["full"] }
serde = { version = "1.0.217", features = ["derive", "rc"] }
serde_json = "1.0.138"
tracing = { version = "0.1", features = ["log"] }
tokio-util = { version = "0.7.10", features = ["codec"] }
dotenv = "0.15"
# lmdb-rs = { version = "0.7" }
thiserror = "2.0.11"
smallvec = { version = "1.10", features = [
  "write",
  "union",
  "const_generics",
  "const_new",
] }
anyhow = "1.0"
tempdir = "0.3.7"
google-cloud-storage = "0.24.0"
async-trait = "0.1"
futures = "0.3"
redis = { version = "0.29.1", features = ["tokio-comp", "connection-manager"] }
r2d2 = "0.8"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
hex = "0.4"
dashmap = "6.1.0"
reqwest = { version = "0.12.12", features = ["json"] }
chrono = { version = "0.4", features = ["serde"] }
time = { version = "0.3", features = ["formatting"] }
tokio-stream = "0.1"
rand = "0.9.0"
thrift = "0.17.0"
md5 = "0.7.0"
bb8-redis = "0.21.0"
uuid = { version = "1.15.1", features = ["v4"] }
bb8 = "0.9.0"

[dev-dependencies]
tokio-tungstenite = "0.26.1"
tokio = { version = "1", features = ["full"] }
bytes = "1.10.0"
mockall = "0.13.1"
criterion = { version = "0.5.1", features = ["async"] }
url = "2.5"

[[bench]]
name = "server_bench"
harness = false
