name: Build Docker Push Worker

on:
  workflow_call:
    inputs:
      sha_short:
        required: true
        type: string
      new_tag:
        required: true
        type: string
      new_tag_short:
        required: true
        type: string
      name:
        required: true
        type: string
      sha:
        required: true
        type: string

jobs:
  build-worker:
    name: Build Worker
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88
          override: true

      - name: Build Worker
        run: |
          cd engine
          cargo build --release -p reearth-flow-worker

      - name: Create distribution directory
        run: |
          mkdir -p engine/dist
          mv engine/target/release/reearth-flow-worker engine/dist/reearth-flow-worker

      - name: Rename Artifacts
        if: ${{ inputs.name != 'blank' }}
        run: |
          cd engine/dist
          mv reearth-flow-worker reearth-flow-worker_${{ inputs.name }}

      - name: List Artifacts
        run: ls -l engine/dist

      - name: Upload Worker Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: worker-artifacts
          path: engine/dist/*

  build-docker-image:
    name: Build and Push Docker Image
    needs: build-worker
    runs-on: blacksmith-4vcpu-ubuntu-2204
    if: ${{ inputs.name != 'blank' || inputs.new_tag != 'blank' }}
    permissions:
      contents: read
      id-token: write
    env:
      IMAGE_NAME: reearth/reearth-flow-worker
      IMAGE_GCP: us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/reearth/reearth-flow-worker
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Download Worker Artifacts
        uses: actions/download-artifact@v4
        with:
          name: worker-artifacts
          path: engine/dist

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          service_account: ${{ secrets.GCP_SA_EMAIL }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Determine Build Options
        id: options
        run: |
          TAG="${{ inputs.new_tag_short != 'blank' && inputs.new_tag_short || '' }}"
          NAME="${{ inputs.name }}"
          SHA="${{ inputs.sha_short }}"
          
          if [[ -n "$TAG" ]]; then
            PLATFORMS="linux/amd64"
            VERSION="$TAG"
            TAGS="$IMAGE_NAME:$TAG"
            
            if [[ ! "$TAG" =~ '-' ]]; then
              TAGS+=",${IMAGE_NAME}:${TAG%.*}"
              TAGS+=",${IMAGE_NAME}:${TAG%%.*}"
              TAGS+=",${IMAGE_NAME}:latest"
            fi
          else
            PLATFORMS="linux/amd64"
            VERSION="$SHA"
            TAGS="$IMAGE_NAME:$NAME"
          fi
          
          echo "platforms=$PLATFORMS" >> $GITHUB_OUTPUT
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: engine
          file: engine/containers/worker/Dockerfile
          platforms: ${{ steps.options.outputs.platforms }}
          push: true
          build-args: VERSION=${{ steps.options.outputs.version }}
          tags: ${{ steps.options.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Configure Docker for GCP
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Push Docker Image to GCP Artifact Registry
        if: ${{ inputs.name == 'nightly' }}
        run: |
          docker pull $IMAGE_NAME:${{ inputs.name }}
          docker tag $IMAGE_NAME:${{ inputs.name }} $IMAGE_GCP:${{ inputs.name }}
          docker push $IMAGE_GCP:${{ inputs.name }}
