name: ci
on:
  push:
    branches: [main, release/*, release]
  pull_request:
jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      api: ${{ steps.api.outputs.any_changed }}
      engine: ${{ steps.engine.outputs.any_changed }}
      policies: ${{ steps.policies.outputs.any_changed }}
      subscriber: ${{ steps.subscriber.outputs.any_changed }}
      ui: ${{ steps.ui.outputs.any_changed }}
      websocket: ${{ steps.websocket.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: changed files for api
        id: api
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
            files: |
              server/api/**
              engine/schema/**
              .github/workflows/ci.yml
              .github/workflows/ci_api.yml
              .github/workflows/build_deploy_api.yml
              CHANGELOG.md
      - name: changed files for engine
        id: engine
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
          files: |
            engine/**
            .github/workflows/ci.yml
            .github/workflows/ci_engine.yml
            .github/workflows/build_docker_push_worker.yml
            CHANGELOG.md
      - name: changed files for policies
        id: policies
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
          files: |
            server/api/internal/rbac/**
            .github/workflows/ci.yml
            .github/workflows/ci_policies.yml
            .github/workflows/update_policies_and_deploy_cerbos.yml
            CHANGELOG.md
      - name: changed files for subscriber
        id: subscriber
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
            files: |
              server/subscriber/**
              .github/workflows/ci.yml
              .github/workflows/ci_subscriber.yml
              .github/workflows/build_deploy_subscriber.yml
              CHANGELOG.md
      - name: changed files for ui
        id: ui
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
          files: |
            ui/**
            .github/workflows/ci.yml
            .github/workflows/ci_ui.yml
            .github/workflows/build_deploy_ui.yml
            CHANGELOG.md
      - name: changed files for websocket
        id: websocket
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
          files: |
            server/websocket/**
            .github/workflows/ci.yml
            .github/workflows/ci_websocket.yml
            .github/workflows/build_deploy_websocket.yml
            CHANGELOG.md

  ci-api:
    needs: prepare
    if: needs.prepare.outputs.api == 'true'
    uses: ./.github/workflows/ci_api.yml
  ci-engine:
    needs: prepare
    if: needs.prepare.outputs.engine == 'true'
    uses: ./.github/workflows/ci_engine.yml
  ci-policies:
    needs: prepare
    if: needs.prepare.outputs.policies == 'true'
    uses: ./.github/workflows/ci_policies.yml
  ci-subscriber:
    needs: prepare
    if: needs.prepare.outputs.subscriber == 'true'
    uses: ./.github/workflows/ci_subscriber.yml
  ci-ui:
    needs: prepare
    if: needs.prepare.outputs.ui == 'true'
    uses: ./.github/workflows/ci_ui.yml
  ci-websocket:
    needs: prepare
    if: needs.prepare.outputs.websocket == 'true'
    uses: ./.github/workflows/ci_websocket.yml

  ci:
    runs-on: ubuntu-latest
    needs:
      - ci-api
      - ci-engine
      - ci-policies
      - ci-subscriber
      - ci-ui
      - ci-websocket
    if: '!failure()'
    steps:
      - run: echo OK

  ci-collect-info:
    name: Collect information
    needs: ci
    if: '!failure()'
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.info.outputs.name || 'blank' }}
      new_tag: ${{ steps.info.outputs.new_tag || 'blank' }}
      new_tag_short: ${{ steps.info.outputs.new_tag_short || 'blank' }}
      sha_short: ${{ steps.info.outputs.sha_short || 'blank' }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Fetch tags
        run: git fetch --prune --unshallow --tags
      - name: Get info
        id: info
        env:
          BRANCH: ${{github.ref_name}}
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "BRANCH=$BRANCH"
          if [[ "$BRANCH" = "release" || "$BRANCH" = "release/"* ]]; then
            TAG=$(git tag --points-at HEAD)
            if [[ ! -z "$TAG" ]]; then
              echo "new_tag=$TAG" >> $GITHUB_OUTPUT
              echo "new_tag_short=${TAG#v}" >> $GITHUB_OUTPUT
            else
              echo "name=rc" >> $GITHUB_OUTPUT
            fi
          else
            echo "name=nightly" >> $GITHUB_OUTPUT
          fi
      - name: Show info
        env:
          SHA_SHORT: ${{ steps.info.outputs.sha_short }}
          NEW_TAG: ${{ steps.info.outputs.new_tag }}
          NEW_TAG_SHORT: ${{ steps.info.outputs.new_tag_short }}
          NAME: ${{ steps.info.outputs.name }}
        run: echo "sha_short=$SHA_SHORT, new_tag=$NEW_TAG, new_tag_short=$NEW_TAG_SHORT, name=$NAME"

  build-and-deploy-api:
    needs:
      - ci
      - ci-api
      - ci-collect-info
    uses: ./.github/workflows/build_deploy_api.yml
    if: ${{ !failure() && needs.ci-api.result == 'success' && github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/')) }}
    with:
      name: ${{ needs.ci-collect-info.outputs.name }}
      new_tag: ${{ needs.ci-collect-info.outputs.new_tag }}
      new_tag_short: ${{ needs.ci-collect-info.outputs.new_tag_short }}
      sha: ${{ github.sha }}
      sha_short: ${{ needs.ci-collect-info.outputs.sha_short }}
    secrets: inherit  
  build-and-deploy-subscriber:
    needs:
      - ci
      - ci-subscriber
      - ci-collect-info
    uses: ./.github/workflows/build_deploy_subscriber.yml
    if: ${{ !failure() && needs.ci-subscriber.result == 'success' && github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/')) }}
    with:
      name: ${{ needs.ci-collect-info.outputs.name }}
      new_tag: ${{ needs.ci-collect-info.outputs.new_tag }}
      new_tag_short: ${{ needs.ci-collect-info.outputs.new_tag_short }}
      sha: ${{ github.sha }}
      sha_short: ${{ needs.ci-collect-info.outputs.sha_short }}
    secrets: inherit
  build-ui:
    needs:
      - ci
      - ci-ui
      - ci-collect-info
    uses: ./.github/workflows/build_ui.yml
    if: ${{ !failure() && needs.ci-ui.result == 'success' && github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/')) }}
    with:
      name: ${{ needs.ci-collect-info.outputs.name }}
      new_tag: ${{ needs.ci-collect-info.outputs.new_tag }}
      new_tag_short: ${{ needs.ci-collect-info.outputs.new_tag_short }}
      sha: ${{ github.sha }}
      sha_short: ${{ needs.ci-collect-info.outputs.sha_short }}
    secrets: inherit
  deploy-ui:
    needs:
      - ci
      - ci-ui
      - ci-collect-info
      - build-ui
    uses: ./.github/workflows/deploy_ui.yml
    if: ${{ !failure() && needs.ci-ui.result == 'success' && needs.build-ui.result == 'success' && github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/')) }}
    with:
      name: ${{ needs.ci-collect-info.outputs.name }}
    secrets: inherit
  build-and-deploy-websocket:
    needs:
      - ci
      - ci-websocket
      - ci-collect-info
    uses: ./.github/workflows/build_deploy_websocket.yml
    if: ${{ !failure() && needs.ci-websocket.result == 'success' && github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/')) }}
    with:
      name: ${{ needs.ci-collect-info.outputs.name }}
      new_tag: ${{ needs.ci-collect-info.outputs.new_tag }}
      new_tag_short: ${{ needs.ci-collect-info.outputs.new_tag_short }}
      sha: ${{ github.sha }}
      sha_short: ${{ needs.ci-collect-info.outputs.sha_short }}
    secrets: inherit
  build-docker-push-worker:
    needs:
      - ci
      - ci-engine
      - ci-collect-info
    uses: ./.github/workflows/build_docker_push_worker.yml
    if: ${{ !failure() && needs.ci-engine.result == 'success' && github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/')) }}
    with:
      name: ${{ needs.ci-collect-info.outputs.name }}
      new_tag: ${{ needs.ci-collect-info.outputs.new_tag }}
      new_tag_short: ${{ needs.ci-collect-info.outputs.new_tag_short }}
      sha: ${{ github.sha }}
      sha_short: ${{ needs.ci-collect-info.outputs.sha_short }}
    secrets: inherit
  update-policies-and-deploy-cerbos:
    needs:
      - ci
      - ci-policies
      - ci-collect-info
    uses: ./.github/workflows/build_deploy_policies_cerbos.yml
    if: ${{ !failure() && needs.ci-policies.result == 'success' && github.event_name == 'push' && github.ref_name == 'main' }}
    secrets: inherit
