name: ci-engine

on:
  workflow_call:

env:
  # Disable incremental compilation.
  CARGO_INCREMENTAL: 0
  # Allow more retries for network requests in cargo (downloading crates) and
  # rustup (installing toolchains). This should help to reduce flaky CI failures
  # from transient network timeouts or other issues.
  CARGO_NET_RETRY: 10
  RUSTUP_MAX_RETRIES: 10
  # Don't emit giant backtraces in the CI logs.
  RUST_BACKTRACE: short
  ACTION_LOG_DISABLE: true

defaults:
  run:
    working-directory: engine

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-swapfile: 'true'
          remove-cached-tools: 'true'
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: "1.82"
          components: clippy, rustfmt
      - name: Cache cargo registry
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: engine
          shared-key: "engine-ci"
      - name: install required tools
        uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli,cargo-make
      - name: Install Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install py2wasm
        run: |
          python -m pip install --upgrade pip
          pip install py2wasm
      - name: check
        run: cargo make check
      - name: rustfmt
        run: cargo fmt --all -- --check
      - name: clippy
        run: cargo make clippy
      - name: taplo
        run: taplo fmt --check
      - name: run generate schema
        run: cargo make doc-action
      - name: check generated schema
        run: |
          git add -N .
          git diff
          line=$(git diff | wc -l)
          if [ "$line" -gt 0 ]; then
            echo "Please run 'cargo make doc-action' and commit the changes."
            git diff
            exit 1
          fi
      - name: run tests
        run: cargo make test
