name: ci-subscriber
on:
  workflow_call:

jobs:
  ci-subscriber-lint:
    runs-on: ubuntu-latest
    if: github.event_name != 'push' || !startsWith(github.event.head_commit.message, 'v')
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up
        uses: actions/setup-go@v5
        with:
          go-version-file: 'server/subscriber/go.mod'
          check-latest: true
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.6
          args: --timeout=10m
          working-directory: server/subscriber

  ci-subscriber-test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: set up
        uses: actions/setup-go@v5
        with:
          go-version-file: 'server/subscriber/go.mod'
          check-latest: true
          cache-dependency-path: server/subscriber/go.sum
      - name: test
        run: go test ./... -v -race -coverprofile=coverage.txt -covermode=atomic -timeout 10m
        working-directory: server/subscriber
      - name: Send coverage report
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: subscriber
